<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translite</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <script>
        function func() {
            $.ajax({
                type: "POST",
                url: "/translite",
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    var data = response
                    $('#out').html(data)
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>
    <form action="/" method="post" name="form">
        <p>
	    <label for="word">Word</label>
	    <input type="text" name="word">
	</p>
	    <p>Translite:
            <output id="out">
            </output>
        </p>
	<p>
	    <input type="button", value="Translite", onclick="func()">
	</p>
    </form>

</body>
</html>